section {
	bottom: 0;
}

footer {
	height: initial;
}

td {
	padding: 4px 0.4em;
	vertical-align: middle;
}

span {
	vertical-align: middle;
}

.final-qualifier {
	border-bottom-color: #aaa;
}

.bg-flag {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50%;
	padding: 0 0.1em;
	vertical-align: middle;
}

.flag-terran {
	background-image: url('img/terran.png');
	background-size: 30px 30px;
}
.flag-protoss {
	background-image: url('img/protoss.png');
	background-size: 30px 30px;
}
.flag-zerg {
	background-image: url('img/zerg.png');
	background-size: 30px 30px;
}

.flag-korea {
	background-image: url('img/korea.png');
	background-size: 30px 20px;
}

.flag-sweden {
	background-image: url('img/sweden.png');
	background-size: 30px 19px;
}

.flag-canada {
	background-image: url('img/canada.png');
	background-size: 30px 15px;
}

.flag-netherlands {
	background-image: url('img/netherlands.png');
	background-size: 30px 20px;
}

.time {
	float: right;
}